# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*/.env

# Build outputs
build/
dist/
*/build/
*/dist/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
/repomix-output.xml


**/generated/prisma
dev.db
*.env*
!.env.example
package-lock.json
**/generated/prisma/
databases/**/migrations/
experimental/**/*.db
**/prisma/*